#app {
	height: 100vh;
	width: 100vw;
	padding-top: 5vh;
	background-image: linear-gradient(
		to top,
		#3498db,
		#3192d2,
		#2e8cca,
		#2c86c1,
		#2980b9
	);
}

#login-holder {
	width: 70%;
	margin: auto;
	background-color: #ecf0f1;
	padding: 20px;
	border-radius: 12px;
}

#login-title {
	color: #34495e;
	text-align: center;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	font-size: 3rem;
}

.login-sub {
	color: #2c3e50;
	font-family: "Roboto", sans-serif;
	font-size: 1.8rem;
}

.login-btn {
	width: 80%;
	margin-left: 10%;
	height: 35px;
	background-color: #34495e;
	color: #ecf0f1;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 1.3rem;
	border: none;
	border-radius: 12px;
	margin-top: 10px;
}

.login-btn:hover {
	background-color: #2c3e50;
	cursor: pointer;
}

.login-btn:active {
	background-color: #34495e;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #34495e;
	margin: 20px 0;
}

.login-input {
	width: 100%;
}

.login-label {
	color: #34495e;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 0.9rem;
}

.login-or-line {
	display: flex;
}

.login-or-line > p {
	margin: auto;
	color: #34495e;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 1rem;
	padding: 0 10px;
}

#dashboard-holder {
	width: 80%;
	margin: auto;
	background-color: #ecf0f1;
	padding: 20px;
	border-radius: 12px;
}

#dashboard-header {
	display: flex;
	justify-content: space-between;
}

#dashboard-title {
	color: #34495e;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	font-size: 3rem;
}

#dashboard-logout {
	color: black;
	text-decoration: none;
}

#dashboard-welcome {
	display: flex;
}

#data-username {
	display: inline-block;
}

@media only screen and (max-width: 600px) {
	.login-holder {
		width: 98%;
	}
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
	.login-holder {
		width: 90%;
	}
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
	.login-holder {
		width: 80%;
	}
}
